# .NET
bin/
obj/
*.dll
*.exe
*.pdb

# NuGet
project.assets.json
project.nuget.cache
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

# Assembly cache
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.assets.cache
*.AssemblyReference.cache

# Visual Studio
.vs/
*.user
*.suo

# Frontend
node_modules/
.vite/
dist/

# Environment / Secrets
.env
appsettings.Development.json